[user]
    name = Jonas Weber
    email = jonas@nerdgeschoss.de
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
[rerere]
    enabled = true
