config-version = 2

start-at-login = true

on-focused-monitor-changed = ['move-mouse monitor-lazy-center']

[mode.main.binding]
    alt-h = 'focus --boundaries-action wrap-around-the-workspace left'
    alt-j = 'focus --boundaries-action wrap-around-the-workspace down'
    alt-k = 'focus --boundaries-action wrap-around-the-workspace up'
    alt-l = 'focus --boundaries-action wrap-around-the-workspace right'

    alt-shift-h = 'move left'
    alt-shift-j = 'move down'
    alt-shift-k = 'move up'
    alt-shift-l = 'move right'

    alt-shift-left = 'move-workspace-to-monitor --wrap-around left'
    alt-shift-down = 'move-workspace-to-monitor --wrap-around down'
    alt-shift-up = 'move-workspace-to-monitor --wrap-around up'
    alt-shift-right = 'move-workspace-to-monitor --wrap-around right'

    alt-f = 'fullscreen'

    alt-1 = 'workspace 1'
    alt-2 = 'workspace 2'
    alt-3 = 'workspace 3'
    alt-4 = 'workspace 4'
    alt-5 = 'workspace 5'
    alt-6 = 'workspace 6'
    alt-7 = 'workspace 7'
    alt-8 = 'workspace 8'
    alt-9 = 'workspace 9'
    alt-0 = 'workspace 10'

    alt-shift-1 = 'move-node-to-workspace 1'
    alt-shift-2 = 'move-node-to-workspace 2'
    alt-shift-3 = 'move-node-to-workspace 3'
    alt-shift-4 = 'move-node-to-workspace 4'
    alt-shift-5 = 'move-node-to-workspace 5'
    alt-shift-6 = 'move-node-to-workspace 6'
    alt-shift-7 = 'move-node-to-workspace 7'
    alt-shift-8 = 'move-node-to-workspace 8'
    alt-shift-9 = 'move-node-to-workspace 9'
    alt-shift-0 = 'move-node-to-workspace 10'

    alt-shift-r = ['reload-config', 'exec-and-forget brew services restart sketchybar']

    alt-q = 'close'

    alt-e = '''exec-and-forget osascript -e '
    tell application "Finder"
        activate
        make new Finder window
    end tell'
    '''

    # alt-enter = '''exec-and-forget osascript -e '
    # tell application "Ghostty"
    #     activate
    # end tell'
    # '''

[workspace-to-monitor-force-assignment]
    1 = 'main'
    2 = 'main'
    3 = 'main'
    4 = 'secondary'

[[on-window-detected]]
    if.app-id = 'com.mitchellh.ghostty'
    run = ['move-node-to-workspace 1']

[[on-window-detected]]
    if.app-id = 'com.brave.Browser'
    run = ['move-node-to-workspace 2']

[[on-window-detected]]
    if.app-id = 'com.microsoft.VSCode'
    run = ['move-node-to-workspace 3']

[[on-window-detected]]
    if.app-id = 'com.tinyspeck.slackmacgap'
    run = ['move-node-to-workspace 4']

[[on-window-detected]]
    if.app-id = 'com.spotify.client'
    run = ['move-node-to-workspace 10']
